#logo{
    width: 200px;
    height: 200px;
}
.main-menu{
    margin-top: 15px;
    margin-bottom: 30px;
}
.header-text{
    color: #ff7f50;
    font-size: 23px;
    text-align: right;
    font-weight: bold;
    height: 140px;
    line-height: 140px;
}